/* folder.page.scss */
#container {
  padding: 16px;
  background-color: #2c2c2c; /* Gelap */
  color: white; /* Warna teks putih untuk kontras */
}

ion-card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #3d3d3d; /* Gelap untuk kartu */
  color: white; /* Warna teks dalam kartu */
}

ion-list {
  margin-top: 20px;
}

ion-item {
  background: #1f1f1f; /* Gelap untuk item */
  border-radius: 8px;
  color: white; /* Warna teks putih untuk item */
  transition: transform 0.2s;
}

ion-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
}
